body {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

header, main {
    /* background-color: rgba(0, 48, 94, 0.92); */
    background-image: linear-gradient(to right, rgba(0, 48, 94, 0.92), rgba(0, 85, 165, 0.92));
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    padding-bottom: 32px;
    gap: 16px;
}

@font-face {
    font-family: RalewayEL;
    src: url(../fonts/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: PoppinsM;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsR;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

h1 {
    font-family: PoppinsM;
    font-size: 48pt;
    color: white;
    text-align: center;
    padding-top: 12pt;
    flex-basis: 100%;
}

#umw-banner {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

article {
    /* background-color: rgba(255, 255, 255, 0.05); */
    width: 192px;
    height: 192px;
    font-family: PoppinsR;
    font-size: 24pt;
    /* text-transform: uppercase; */
    color: white;
    border-radius: 24px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    /* border: 3px solid rgb(27, 120, 207); */
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 8px;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.0));
}

a:hover article, a:active article {
    border-color: white;
}

#searchbox {
    background-color: white;
    color: black;
    width: 85%;
    font-size: 24pt;
    border-radius: 8px 0px 0px 8px;
    border: none;
    text-align: center;
    margin-bottom: 32px;
    font-family: OswaldLight;
}

/* #searchbox-icon {
    height: 48px;
    width: 48px;
    background-color: white;
    background-image: url(../images/search.png);
    background-size: contain;
    border-radius: 0px 8px 8px 0px;
} */

.icon {
    height: 64px;
    filter: drop-shadow(0px 0px 5px #000);
    -webkit-filter: drop-shadow(0px 0px 5px #000);
}

@media only screen and (min-width: 1480px) {
    article {
        width: 256px;
        height: 256px;
       font-size: 32pt;
    }

    .icon {
        height: 96px;
    }
}

@media only screen and (max-width: 600px) {
    #umw-banner {
        width: 240px;
        font-size: 16pt;
    }

    article {
        width: 128px;
        height: 128px;
        font-size: 16pt;
        gap: 4px;
    }

    .icon {
        height: 64px;
    }
    
    #searchbox {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 300px) {
    article {
        width: 112px;
        height: 112px;
        font-size: 14pt;
        gap: 4px;
    }

    .icon {
        height: 48px;
    }
}