html, body {
    /* height: 100%; */
}

body {
    padding-top: 24px;
    padding-bottom: 24px;
}

header, main {
    background-color: rgba(0, 48, 94, 0.92);
}

body {
    background-image: url(../images/background.jpeg);
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding-bottom: 16px;
    gap: 16px;
}

@font-face {
    font-family: RalewayEL;
    src: url(../fonts/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: PoppinsM;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: PoppinsR;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: OswaldLight;
    src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

h1 {
    font-family: PoppinsM;
    font-size: 48pt;
    color: white;
    text-align: center;
    padding-top: 12pt;
    flex-basis: 100%;
}

#umw-banner {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

article {
    /* background-color: rgba(255, 255, 255, 0.05); */
    width: 192px;
    height: 192px;
    font-family: PoppinsR;
    font-size: 24pt;
    /* text-transform: uppercase; */
    color: white;
    border-radius: 24px;
    border: 3px solid rgba(255, 255, 255, 0.25);
    text-align: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    text-align: center;
}

#canvas-button {
    background-image: url(../images/canvas.png);
    background-size: cover;
    border: 3px solid rgba(0, 0, 0, 0);
}

#searchbox {
    background-color: white;
    color: black;
    width: 90%;
    font-size: 24pt;
    border-radius: 8px;
    border: none;
    text-align: center;
    margin-bottom: 32px;
    font-family: OswaldLight;
}